<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="lt.ktu.tester.app">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"

    >
        <activity android:name=".acitivies.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".acitivies.SettingsActivity"
                  android:label="@string/app_name"
        >
        </activity>
        <activity android:name=".acitivies.SearchActivity"
                  android:label="@string/app_name"
        >
        </activity>
        <activity android:name=".acitivies.NewTestActivity"
                  android:label="@string/app_name"
        >
        </activity>
        <activity android:name=".acitivies.MyTestActivity"
                  android:label="@string/app_name"
        >
        </activity>
        <activity android:name=".acitivies.questionactivities.TextQuestionActivity"
                  android:label="@string/app_name"
        >
        </activity>
    </application>

</manifest>
